.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 98%;

  mat-form-field, .table-container {
    width: 100%;
    justify-content: center;
    margin: 1rem;
  }
}

.action {
  display: flex;
  gap: 5px;
}

.table-container {
  overflow-x: auto;
}

.text-center {
  text-align: center;
  vertical-align: middle;
}

.mat-header-row {
  display: none;
}

@media (min-width: 768px) {
  .mat-header-row {
    display: table-row;
  }
}

@media screen and (max-width: 790px) {
  .table-container {
    overflow-x: auto;
  }

  .table-container table {
    width: 100%;
  }

  .mat-column-id,
  .mat-column-name,
  .mat-column-email,
  .mat-column-phone {
    display: block;
    width: 100%;
    text-align: center;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mat-cell {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }

  .mat-cell:before {
    font-weight: bold;
    margin-right: 10px;
  }

  .mat-cell:nth-child(1):before {
    content: 'ID: ';
  }

  .mat-cell:nth-child(2):before {
    content: 'Name: ';
  }

  .mat-cell:nth-child(3):before {
    content: 'Email: ';
  }

  .mat-cell:nth-child(4):before {
    content: 'Phone: ';
  }

  .mat-cell:nth-child(5) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mat-cell:nth-child(5) button {
    margin: 0 5px;
  }
}
